.game-container {
  background: #f9f9f9;
  padding-bottom: 50px;
}

.rwd-table {
  min-width: 300px;
  max-width: 100%;
  border-collapse: collapse;
}

.rwd-table tr:first-child {
  border-top: none;
  background: #d66371;
  color: #fff;
}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
  background: rgba(214, 99, 113, 0.1);
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  margin-top: 0.5em;
}

.rwd-table td:last-child {
  margin-bottom: 0.5em;
}

.rwd-table td:before {
  content: attr(data-th) ': ';
  font-weight: 500;
  width: 120px;
  display: inline-block;
  color: #000;
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

.rwd-table {
  color: #333;
  border-radius: 0.4em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: transparent;
}

.rwd-table th,
.rwd-table td {
  padding: 0.5em 1em;
}

@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}

@media screen and (min-width: 600px) {
  .rwd-table td:before {
    display: none;
  }

  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
  }

  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }

  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }

  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}

.padding-container {
  padding-top: 72px;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
  .rwd-table {
    width: 100%;
  }

  .padding-container {
    padding-top: 42px;
  }

  .how-to-play {
    font-size: 18px;
  }
}

.play-game-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.play-game-container h1 {
  font-size: 42px;
}

.leader-board-btn {
  padding: 10px 25px !important;
}

.game-loading-section {
  position: relative;
  padding: 184px;
}

.game-loading-section-game-card {
  position: relative;
  width: 500px;
  height: 200px;
}

@media screen and (max-width: 1024px) {
  .game-loading-section-game-card {
    width: 93%;
  }
}

.leaderboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  margin: 42px 0;
}

.leaderboard-item {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 30px rgb(0 0 0 / 15%);
  /* width: 350px; */
  height: 450px;
  border-radius: 10px;
  position: relative;
  flex: 1;
}

.leader-card {
  height: 40%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}

.leader-card-bg1 {
  background: linear-gradient(90deg, #f9feff, #b6e5fa, #ecf2c4);
}

.leader-card-bg2 {
  background: linear-gradient(90deg, #c1c6ee, #a9faef, #f2eeee);
}

.leader-card-bg3 {
  background: linear-gradient(90deg, #f9feff, #d6e0a3, #fadac2);
}

.leader-position-style {
  font-size: 70px;
  font-family: 'Donalia';
  position: absolute;
  font-weight: 600;
  opacity: 0.5;
  right: 20px;
  top: 10px;
  font-style: italic;
}

.leader-position-style sup {
  font-family: 'Jost';
  font-style: italic;
}

.leader-board-detail {
  padding: 22px;
  padding: 22px;
  padding-top: 70px;
  padding-left: 23px;
}

.leader-board-detail span {
  font-size: 32px;
  font-weight: 500;
}

.leader-board-detail p {
  background-clip: text;
  color: transparent;
}

.leader-board-level1 {
  background-image: linear-gradient(60deg, #6bc2ea, #c8ed59, #d57419);
}

.leader-board-level2 {
  background-image: linear-gradient(60deg, #30abc6, #5b6fc4, #cb78e2);
}

.leader-board-level3 {
  background-image: linear-gradient(60deg, #bfde34, #eeb682, #7df7a4);
}

.leader-profile {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background-color: red;
  width: 120px;
  height: 110px;
  border-radius: 5px;
  position: absolute;
  top: 28%;
  left: 18px;
}

.hex {
  position: absolute;
  top: 5px;
  left: -16px;
  margin: 1em auto;
  width: 10em;
  height: 17.32em;
  border-radius: 1em/0.5em;
  background: #dee2e6;
  transition: opacity 0.5s;
  transform: scale(0.3);
}

.hex:before,
.hex:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: '';
}

.hex:before {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.hex:after {
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.parallelogram {
  width: 100%;
  border-radius: 5px;
  border: 2px solid gold;
  margin-bottom: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 48px;
}

.current-player-position {
  font-size: 32px;
  margin: 0;
}

.game-statics {
  font-size: 28px;
  color: black;
  margin: 0;
}

.game-label {
  font-size: 20px;
  color: gray;
}

@media (min-width: 320px) and (max-width: 425px) {
  .leaderboard-container {
    flex-direction: column;
  }

  .leader-card {
    height: 140px;
  }

  .parallelogram {
    flex-direction: column;
  }

  .game-statics {
    text-align: center;
  }
}
