.Toastify__toast-container--top-right {
  width: 350px;
}

.cache-container {
  display: none;
}

.opacity-animation {
  transition: opacity 1s ease-out;
}

.app-opacity-0 {
  opacity: 0;
  visibility: hidden;
}

.app-opacity-1 {
  opacity: 1;
}
