.game-card-wrapper-heading {
  padding: 10px;
  padding-left: 0;
  font-family: 'Jost';
  font-weight: 300;
  color: #d66371;
  margin: 0;
  position: relative;
}

.game-card-wrapper-heading:after {
  content: '';
  z-index: -1;
  bottom: 50%;
  margin-bottom: -2px;
  height: 2px;
  left: 0;
  right: 0;
  background: #6b6a6a;
  display: block;
  position: absolute;
}

.game-card-wrapper-heading strong {
  z-index: 1;
  padding: 4px 20px;
  background: white;
  position: relative;
  left: 30px;
}

.game-card-wrapper-heading span {
  font-size: 0.7em;
  color: #6b6a6a;
  margin-left: 10px;
}

.game-news,
.game-card {
  display: flex;
  flex-flow: row wrap;
  cursor: pointer;
  gap: 20px;
}

.game-article-card {
  margin-top: 20px;
  /* flex: 1; */
}

.game-article {
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 235px;
}

.game-article:hover img {
  filter: blur(1px);
  transform: scale(0.97);
}

.game-article:hover figcaption {
  opacity: 1;
  transform: none;
}

.game-article img {
  width: 100%;
  min-height: 100%;
  transition: 0.2s;
}

.game-article figcaption {
  font-size: 14px;
  text-shadow: 0 1px 0 rgb(51 51 51 / 30%);
  color: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 40px;
  box-shadow: 0 0 2px rgb(0 0 0 / 20%);
  background: rgba(6, 18, 53, 0.6);
  opacity: 0;
  transform: scale(1.15);
  transition: 0.2s;
  position: absolute;
}

.game-article figcaption h3 {
  font-family: 'Jost';
  font-weight: 500;
  font-size: 18px;
  color: white;
  margin-bottom: 0;
  font-weight: bold;
}

.game-article figcaption p {
  color: white;
  line-height: normal;
}

.game-stat {
  display: flex;
  align-items: center;
  transform: translate(0, -30px);
  margin-right: 22px;
}

.game-stat p {
  margin: 0;
  margin-top: 18px;
  transform: translate(-8px, 0px);
}

.game-stats {
  display: flex;
}

.game-cta {
  transform: translate(0, 8px);
  flex: 1;
  margin-left: 87px;
}

.game-cta p {
  color: #d66371;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
}

.game-cta .arrow {
  width: 20px;
  height: 2px;
  top: -16px;
  left: 43px;
  position: relative;
  display: block;
  background: #d66371;
  z-index: 1;
  transition: all 0.4s ease-in-out;
}

.game-cta .arrow span {
  bottom: -3px;
  right: 0;
  border: solid #d66371;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  z-index: 5;
  transition: all 0.4s ease-in-out;
}

.game-cta p:hover .arrow {
  width: 28px;
}

@media only screen and (max-width: 425px) {
  .game-article-card{
    margin: 20px 0;
  }
}