.valentine {
  padding: 55px 0 0 0;
  background-image: url(../../images/background.png);
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 969px;
}

.valentine-container {
  display: flex;
}

.valentine-left {
  flex: 2;
}

.valentine-right {
  margin-left: 30px;
  flex: 3;
}

.wall-of-happiness {
  background-color: #d66371;
  padding: 18px;
  color: white;
  margin-bottom: 12px;
}

.wall-of-happiness h2 {
  color: white;
  text-align: center;
}

.wall-of-the-day-image {
  position: relative;
}

.valentine-action {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loving-for {
  font-family: 'Jost';
  font-size: 62px;
  margin-bottom: 0;
}

.counter-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 15px rgb(0 0 0 / 25%);
  flex: 1;
  height: 120px;
  border-radius: 5px;
  background-color: #d66371;
  color: white;
}

.counter {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  column-gap: 10px;
}

.counter-text {
  font-family: 'Jost';
}

.counter-number {
  font-family: 'Donalia';
  font-size: 30px;
}

.mood-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.mood-container div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mood-container img {
  width: 160px;
}

.mood-action {
  background-color: #d66371;
  padding: 10px;
  font-size: 22px;
  letter-spacing: 2px;
  color: white;
  text-align: center;
  cursor: pointer;
  align-self: stretch;
}

.mood-numbers {
  display: flex;
  padding: 10px 0;
  align-self: stretch;
}

.mood-numbers li {
  background: #178184;
  padding: 5px;
  font-size: 17px;
  line-height: 17px;
  font-weight: normal;
  margin: -1px 1px;
  color: #fff;
  flex: 1;
  text-align: center;
}
