.heading {
  font-size: 50px;
}

.score {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.score p {
  font-size: 22px;
  font-family: 'Jost';
}

.score p:first-child {
  color: rgb(255, 70, 37);
}

.score p:last-child {
  color: rgb(44, 135, 255);
}

.choice {
  display: flex;
  justify-content: center;
}

.computer-hand {
  width: 250px;
}

.user-hand {
  width: 250px;
  transform: rotateY(180deg);
}

.button-div {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.button {
  justify-content: space-around;
  align-items: center;
  background-color: coral;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 12px;
}

.result {
  padding: 50px;
}

.result p {
  font-family: 'Jost';
  text-align: center;
  color: #5a5;
}

.notify {
  text-align: center;
  font-family: 'Jost';
}

.no-margin {
  margin-top: 10px;
}

.stone-paper-scissor-result {
  font-size: 32px;
  color: black;
}
